html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body, #map-table, .map-row, .wrapper, .game-buttons, 
.button-container, .game-over, .button-row {
    display: flex;
}

body, .wrapper, .button-container, .game-over {
    flex-direction: column;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #121421;
    color: #fff;
}

main {
    flex: 1;
}

.title {
    margin: .5rem 0 1.5rem 0;
}

#game-section, .wrapper {
    position: relative;
}

#map-table {
    flex-wrap: wrap;
}

#map-table, .map-row {
    gap: 0;
    width: min(100vw, 50rem);
}

.tile-img {
    width: 100%;
    display: block;
}

.stat {
    position: absolute;
    top: -2.5rem;
}

.player-energy {
    left: .5rem;
}

.player-score {
    right: .5rem;
}

.wrapper, .game-buttons {
    align-items: center;
}

.game-buttons {
    justify-content: space-between;
    padding: 0 1rem;
}

.button-row {
    justify-content: space-around;
    padding: 4px 0 0 0;
    gap: 4px;
}

button {
    border: none;
    border-radius: .5rem;
    background-color: #fff;
}

.player-button {
    width: 3rem;
    height: 3rem;
}

.button-finish-game {
    height: 100%;
    padding: 1rem;
}

.game-over {
    position: absolute;
    width: min(25rem, 90vw);
    height: min(15rem, 80%);
    left: 50vw - 50%;
    border-radius: 1rem;
    text-align: center;
    background-color: #ffffff50;
    padding: 1rem;
    backdrop-filter: blur(2px);
    justify-content: center;
}

.button-new-game {
    padding: 1rem;
}

.hide {
    display: none;
}

.copyright {
    margin: 0;
}